#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  margin-top: 70px;
  background:linear-gradient(135deg,#b57cd2 #502a60);
}
h1{
    padding-bottom: 20px;
    color: grey;
}