*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1000;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0 30px;


}
.nav a{ 
    color: grey;
    font-weight: 500;
    transition: color 0.3s ease;
    display:inline-block;
    white-space:nowrap;
}
.nav a:hover{
    color: #502a60;
}
header, .nav{
    margin: 0;
    padding: 0;
}
.logout{
    margin-left:auto;
}
.logo img{
    margin-right: 250px;
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.profilelink{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}
.profilecircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border:2px solid #502a60;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

}
.profilecircle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}