h1{
    padding-bottom: 20px;
}

.animecard img{
    padding-top: 15px;
    width: 90%;
    height: 300px;   
}
.animecard{
    border-radius: 10px;
    height: 360px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    color: #c5c6c7;
    border: 1px solid white;
    text-decoration: inherit;
}

.Animes{
  padding: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.Animes .animecard p{
    text-decoration: none;
    color: white;
    padding-bottom: 40px;
}

form {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

input, button {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid rgb(160, 160, 160);
}
input{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #c5c6c7;
}

.search-meta {
  color: #c5c6c7
}