.singlepost{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    color: #502a60;
    border: 1px solid grey;
    margin-top: 15px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.singlepost h2{
    margin-top: 20px;
    padding: 0;
    color: #502a60;
}
.singlepost img{
    border-radius: 15px;
    margin-top: 30px;
    width: 90%;
    height: 700px;

}
.postbuttons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.postbuttons button{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: 1px solid #502a60; 
    color: #502a60;
    width: 120px;
    font-weight: 500;
    background-color: grey;

}
.interacticons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: gray;
    margin-bottom:8px;
    padding: 0;
}
.postInfo p{
    margin:10px;
    padding: 5px;
    color: #502a60;
}
.postComment{
    padding-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}
h3{
    color: grey;
}
.postComment .comment{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    color: #502a60;
    border: 1px solid grey;
    margin-top: 15px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.postComment p{
    margin:3px;
    padding: 3px;
    color: #502a60;
}