h1{
    padding-bottom: 20px;
    color: grey;
}
.commentform form {
  gap: 20px;
  height: 300px;
  width: 400px; 
  background-color: grey;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.commentform form label{
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    padding-right: 30px;
    color: #502a60;
    font-weight: 500;
}
.commentform textarea{
    width: 300px;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: 1px solid #502a60;
    color: #502a60;
}
.commentform form button{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: 1px solid #502a60; 
    color: #502a60;
    width: 100px;
    font-weight: 500;
}
